@model IEnumerable<HotelBooking.Models.Room>

@{
    ViewBag.Title = "Index";
}
<table>
    <tr>
        <td><h2>Вход</h2></td>
    </tr>
    <tr>
        <td><p>Логин</p></td>
        <td>
            @Html.TextBox("Login")
        </td>
        <td><p>Пароль</p></td>
        <td>
            @Html.Password("Password")
        </td>
        <td>
            <input type="submit" value="Войти" />
        </td>
    </tr>

    <tr></tr>
</table>

<h2>Номера</h2>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.RoomQuantity)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BedQuantity)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Rating)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
        <th></th>
    </tr>

    @foreach (HotelBooking.Models.Room item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.RoomQuantity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BedQuantity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Rating)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.ActionLink("Забронировать", "Buy", new { id = item.Id })
            </td>
        </tr>
    }

</table>
@Html.Action("GetBedQuantities")